@charset "utf-8";
/* CSS Document */

h3.bordes
{
	display: block;
	padding: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e6007e;
	border-right-color: #e6007e;
	border-bottom-color: #e6007e;
	border-left-color: #e6007e;
	overflow: hidden;
}
.bloque-aztevia
{
	background-color: #ececec;
	border-left-width: 9px;
	border-left-style: solid;
	border-left-color: #9cc31a;
	padding: 20px;
	margin-bottom: 20px;
	min-height:313px;
}

.bloque-aztevia h3
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-size: 24px;
	font-weight: bold;
}
.bloque-aztevia p
{
	font-size: 16px;
	line-height: normal;
	background-image: url(aztevia/images/comillas.png);
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: left top;
	color: #21262a;
}