@charset "utf-8";
/* CSS Document */

h3.bordes
{
	display: block;
	padding: 15px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e6007e;
	border-right-color: #e6007e;
	border-bottom-color: #e6007e;
	border-left-color: #e6007e;
	overflow: hidden;
}

h3.bordes p
{
	margin:0px;
	font-size:20px;}
.bloque-aztevia
{
	background-color: #ececec;
	border-left-width: 9px;
	border-left-style: solid;
	border-left-color: #9cc31a;
	padding: 20px;
	margin-bottom: 20px;
	min-height:313px;
}

.bloque-aztevia h3,.bloque-aztevia h4
{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-size: 24px;
	font-weight: bold;
}
.bloque-aztevia h4
{
	font-size:16px;}
.bloque-aztevia p
{
	font-size: 16px;
	line-height: normal;
	background-image: url(aztevia/images/comillas.png);
	padding-left: 70px;
	background-repeat: no-repeat;
	background-position: left top;
	color: #21262a;
}
.bloque-aztevia.sin-p p
{
	background:none;
	padding:0px;}

.aztevia-page article
{
	margin-top:0px;
	padding-top:0px;}
	
	
	.ufo-customfields-invalid
	{
		display:none !important;}
	.formulario
	{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #CCC;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 40px;
	padding-left: 10px;
}
.corner-top
{
	background-image: url(aztevia/images/corner-top.jpg);
	height: 28px;
	width: 28px;
	display: block;
	background-position: left top;
	background-repeat: no-repeat;
	z-index: 999;
top: -20px;
position: absolute;
margin-left: 46px;
}

.boton-contacto
{
	background:none;
	border:none;
	background-color:#aec736;-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;}
	
	.boton-contacto:hover,
		.formulario button[disabled]
	{
		background:none;
	background-color: #93A82D;
		
}