@charset "utf-8";
/* CSS Document */

.search-template
{}

.search-template .page-header
{
	padding-left:20px;}
.search-template article
{
	margin-bottom:0px;
	padding-bottom:0px;}

.search-item
{
	padding: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}


.search-item .custom-image-content
{
	float:left;
	padding-right:20px;}


.search-item h1
{
	clear:none;
	margin:0px;
	padding:0px;
	line-height:normal;
	font-size:35px;}